@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#to-do-list {
  list-style-type: none;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  box-shadow: 0 3px 10px 0 #8f8d8c73;
  min-width: 400px;
  max-width: 600px;
}

.checkbox {
  border: 2px solid gray;
  border-radius: 2px;
  padding: 5px;
}

.checkmark {
  width: 14px;
  display: none;
}

.checkbox,
.checkmark,
#enter,
#refresh {
  cursor: pointer;
}

.task-description {
  margin: 0 12px;
  font-weight: 100;
  word-break: break-all;
}

.list-item {
  display: flex;
  padding: 10px 0 10px 10px;
  align-items: center;
  justify-content: center;
}

.todo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h2,
h3 {
  font-size: 1rem;
  flex-grow: 1;
}

h2 {
  color: #545862;
}

#enter,
#refresh {
  margin-right: 10px;
  width: 12px;
}

.dots {
  cursor: grab;
}

input {
  flex-grow: 1;
  border: 0;
  outline: none;
}

hr {
  border: 0;
  border-top: 1px solid #c7c7c7;
}

::placeholder {
  font-style: italic;
}

input[type="text"] {
  font-style: italic;
}

hr:last-of-type {
  border: 0;
}

a {
  color: #bdbdbd;
  text-align: center;
  font-weight: 100;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.last-item {
  background-color: #f6f6f6;
}
