/* stylelint-disable no-descending-specificity */
@import url("https://fonts.googleapis.com/css2?family=Roboto");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-size: 16px;
}

.to-do-list {
  list-style-type: none;
  width: 400px;
}

#top-list {
  z-index: 1;
}

#to-do-list {
  overflow-y: scroll;
}

#to-do-list li {
  padding: 0 0 0 10px;
}

.checkbox {
  border: 2px solid gray;
  border-radius: 2px;
  padding: 5px;
}

.checkmark {
  width: 14px;
  display: none;
}

.remove {
  width: 14px;
  display: none;
  margin-right: 5px;
}

.checkbox,
.checkmark,
#enter,
#refresh,
.remove {
  cursor: pointer;
}

.task-description {
  margin: 0 12px;
  font-weight: 100;
  word-break: break-all;
  padding: 10px 0;
}

.list-item {
  display: flex;
  padding: 10px 0 10px 10px;
  align-items: center;
  justify-content: center;
}

.todo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 100%;
}

.todo-div {
  max-height: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 10px 0 #8f8d8c73;
}

h2,
h3 {
  font-size: 1rem;
  flex-grow: 1;
}

h2 {
  color: #545862;
}

#enter,
#refresh {
  margin-right: 10px;
  width: 12px;
}

#refresh {
  overflow: hidden;
  transition-duration: 0.2s;
  transition-property: transform;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.dots {
  cursor: move;
}

input {
  flex-grow: 1;
  border: 0;
  outline: none;
}

hr {
  border: 0;
  border-top: 1px solid #c7c7c7;
}

::placeholder {
  font-style: italic;
}

#add-task input[type="text"] {
  font-style: italic;
}

hr:last-of-type {
  border: 0;
}

a {
  color: #bdbdbd;
  text-align: center;
  font-weight: 100;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.last-item {
  background-color: #f6f6f6;
  width: 400px;
  padding: 10px 0;
}

.input-div {
  width: 100%;
  display: flex;
}

li {
  border: 0;
  border-bottom: 1px solid #c7c7c7;
}

.draggable.dragging {
  border: 1px solid blue;
}
